In [2]:
# Import libraries
import numpy as np
from scipy import stats
import pandas as pd

In [14]:
df = pd.read_csv("C:/Users/cprieto/labs_files/machine.csv")

In [15]:
df

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [16]:
df.columns

Index(['New_machine', 'Old_machine'], dtype='object')

In [18]:
# We calculate the means
u1 = df["New_machine"].mean()

In [19]:
u2 = df["Old_machine"].mean()

In [20]:
print(u1,u2)

42.14 43.230000000000004

In [24]:
# Lets check for Normality

In [25]:
def check_normality(data, significance):
    test_stat_normality , p_value_normality = stats.shapiro(data)
    print("pvalue", p_value_normality)
    if p_value_normality < significance:
        print("reject null hypothesis: data not Normally distributed")
    else:
        print("no evidence to reject the null hypothesis: data sampled from Normal")

In [26]:
check_normality(df,0.05)

pvalue 0.8408238291740417
no evidence to reject the null hypothesis: data sampled from Normal

In [27]:
# Lets check for Homcedasticity
def homocedasticity(group1, group2, significance):
    test_stats_var, p_value_var = stats.levene(group1, group2)
    print("pvalue", p_value_var)
    if p_value_var < significance:
        print("reject null hypothesis: variances are different")
    else:
        print("no evidence to reject the null hypothesis: variances are the same")

In [28]:
nm = df["New_machine"]
om = df["Old_machine"]

In [29]:
homocedasticity(nm,om,0.05)

pvalue 0.8794907728819111
no evidence to reject the null hypothesis: variances are the same

### LetÂ´s perform 1 sided t-test

$H_{0}$: $\mu_{nm}= \mu_{om}$     
$H_{1}$: $\mu_{nm} <>  \mu_{om}$

In [31]:

ttest,p_value = stats.ttest_ind(nm,om)

In [33]:
print("p value:%.8f" % p_value)
if p_value<0.05:
    print("Reject null hypothesis")
else:
    print("Fail to reject null hypothesis")

p value:0.00321114
Reject null hypothesis